.footer {
    background-color: #333; 
    color: #fff;
    padding: 20px; 
    font-family: 'supplyregular';
}

.footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links li {
    margin-bottom: 10px;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.contact-info {
    font-size: 14px;
    line-height: 1.5;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.social-icons a {
    margin-right: 10px;
}

.footer-text {
    font-size: 12px;
    opacity: 0.8;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}