/* src/components/Navbar.css */

.navbar {
  background-color: white; /* Set background color to white */
  padding: 1rem;
  width: 100%; /* Set width to 100% */
  position: fixed; /* Set position to fixed */
  top: 0; /* Stick Navbar to the top */
  z-index: 999; /* Ensure Navbar is above other content */
}

.navbar-container {
  display: flex;
  justify-content: space-between; /* Space out Navbar items */
  align-items: center; /* Center content vertically */
  max-width: 1200px; /* Set max width for content */
  margin: 0 auto; /* Center Navbar horizontally */
}

.navbar-links {
  display: flex;
  align-items: center; /* Center content vertically */
}

.nav-link {
  color: black; /* Set font color to black */
  text-decoration: none;
  padding: 0.5rem 1rem;
  font-family: 'Roboto Mono', monospace; /* Set font family to 'Roboto Mono' */
  font-weight: light; /* Optionally set font weight to bold */
  text-transform: uppercase; /* Make text uppercase */
  transition: color 0.3s ease; /* Add transition effect for color change */
}

.nav-link:hover {
  color: #db2d84; /* Set pink font color on hover */
  border-radius: 4px;
}

.nav-link.active {
  color: #FF69B4; /* Set pink font color for active link */
  font-style: italic; /* Optionally add italic style */
  text-decoration: underline; /* Optionally add underline */
}
